.field {
    display flex
    &:hover {
        .label {
            color $grayText
        }
        .input-custom
        .select-custom {
            border-color $grayText
        }
    }
    &__inner {
        margin 0
        padding 0
    }
    &__inner_icon_select {
        position relative
        &:after {
            content ''
            width 20px
            height 12px
            background url('/assets/img/select-arrow.png') center center no-repeat
            background-size contain
            position absolute
            top 18px
            right 14px
            z-index 1
            pointer-events none
            @media screen and (max-width: 1200px) {
                top 13px
            }
        }
    }
}