html {
    font-size 16px
    min-width 1024px
}

// variables
@import 'variables.styl'

// import block styles
@import 'blocks/page.styl'
@import 'blocks/notification.styl'
@import 'blocks/button.styl'
@import 'blocks/header.styl'
@import 'blocks/logo.styl'
@import 'blocks/menu.styl'
@import 'blocks/user.styl'
@import 'blocks/welcome.styl'
@import 'blocks/news.styl'
@import 'blocks/feedback.styl'
@import 'blocks/field.styl'
@import 'blocks/label.styl'
@import 'blocks/input-custom.styl'
@import 'blocks/select-custom.styl'
@import 'blocks/textarea-custom.styl'
@import 'blocks/birthdays.styl'
@import 'blocks/employee-card.styl'
@import 'blocks/footer.styl'
@import 'blocks/modal-window.styl'