// colors
$mainPink                = #F2264D
$darkText                = #333333
$grayText                = #666666
$lightText               = #ABABAB
$lightGrayBackground     = #FAFAFA


//font-family
$Roboto                  = 'Roboto', sans-serif
$SSP                     = 'Source Sans Pro', sans-serif

//font-size
$textXl                  = 58px
$textLg                  = 30px
$textMd                  = 20px
$textSm                  = 16px
$textXs                  = 14px